.add-product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
  }
  
  .add-product-main-content {
    /* background-color: #fff; */
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
  }
  
  .add-product-title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .add-product-form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .add-product-form-group {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    margin: 15px 0;
  }
  
  .add-product-form-group label {
    font-size: 1rem;
    margin-bottom: 8px;
  }
  
  .add-product-form-group input,
  .add-product-form-group textarea {
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .add-product-submit-btn {
    padding: 15px;
    font-size: 1.2rem;
    color: white;
    background-color: #7a1fb3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-product-submit-btn:hover {
    background-color: #c88af3;
  }
  